@import url("-");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.hero {
  width: 100%;  
  height: 100vh;
  background: url("../images/hero-bg.jpg") no-repeat center center/cover;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
  list-style: none;
}

nav ul li a {
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
}

nav ul li a:hover {
  color: #fd4766;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #fd4766;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  background: #fd4766;
  color: #fff;
  border-radius: 500px;
  transition: all 0.4s ease-in-out;
  font-weight: 500;
  background-size: 152% 100%;
  border: 2px solid #fd4766;
}

.btn:hover {
  background: transparent;
  color: #fd4766;
  border-color: #fd4766;
  transform: scale(1.05);
}
