

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.grid-item1{
    grid-column: span 5 / span 5;
}

.grid-item2{
    grid-column: span 3 / span 3;
    grid-row-start: 2;
}

.grid-item3{
    grid-column: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 5;
}

.grid-item4{
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
}

.grid-item5{
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
}

.grid-item6{
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
}

.grid-item7{
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;
}

